# Flutter/Dart/Pub related
.dart_tool/
.packages
build/
pubspec.lock

# IDE related
.idea/
.vscode/
*.iml

# macOS related
*.DS_Store

# Android related
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
android/local.properties

# iOS related
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/
ios/Runner.xcworkspace/
ios/Podfile.lock
